### This is my Proyect

# We import the librarys

In [1]:
import numpy as np
import pandas as pd
import requests 
from bs4 import BeautifulSoup

Get Postal Codes of Canada

In [2]:
source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

In [3]:
soup = BeautifulSoup(source, 'lxml')

In [4]:
table = soup.find('table',{'class':'wikitable sortable'})

In [5]:
table_rows = table.find_all('tr')

In [6]:
table = []
for ifile in table_rows:
    row = []
    for t in ifile.find_all('td'):
        row =  row + [ t.text.strip() ]
    table.append(row)


table = pd.DataFrame(table, columns=['PostalCode', 'Borough', 'Neighbourhood'])
table.shape

(288, 3)

Remove null date

In [7]:
table = table[~table['PostalCode'].isnull()]
table.shape

(287, 3)

In [8]:
table.head(10)

   PostalCode           Borough     Neighbourhood
1         M1A      Not assigned      Not assigned
2         M2A      Not assigned      Not assigned
3         M3A        North York         Parkwoods
4         M4A        North York  Victoria Village
5         M5A  Downtown Toronto      Harbourfront
6         M6A        North York  Lawrence Heights
7         M6A        North York    Lawrence Manor
8         M7A      Queen's Park      Not assigned
9         M8A      Not assigned      Not assigned
10        M9A  Downtown Toronto      Queen's Park

Remove data in Borough column with value "Not Assigned"

In [9]:
table = table[table['Borough']!="Not assigned"]
table.shape

(210, 3)

Apply groupby functi√≥n and then aggregation in neighbourhood

table = table.groupby(['PostalCode','Borough']).agg(lambda x: ','.join(x))
table.reset_index(inplace=True)
table.head(10)

Check Neighbourhood with value same to: "Not Assigned"

In [11]:
table[table['Neighbourhood']=="Not assigned"]

   PostalCode       Borough Neighbourhood
85        M7A  Queen's Park  Not assigned

Get Position of row

In [12]:
ListIndexNeigh_NotAssigned = table[table['Neighbourhood']=="Not assigned"].index.values.tolist()
ListIndexNeigh_NotAssigned

[85]

In [ ]:
for ind in ListIndexNeigh_NotAssigned:
    table.loc[ind]['Neighbourhood'] = table.loc[ind]['Borough']
    print("---")