### This is my Proyect

# We import the librarys

In [17]:
import numpy as np
import pandas as pd
import requests 
from bs4 import BeautifulSoup

Get Postal Codes of Canada

In [18]:
source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

In [19]:
soup = BeautifulSoup(source, 'lxml')

In [20]:
table = soup.find('table',{'class':'wikitable sortable'})

In [21]:
table_rows = table.find_all('tr')

In [22]:
table = []
for ifile in table_rows:
    row = []
    for t in ifile.find_all('td'):
        row =  row + [ t.text.strip() ]
    table.append(row)


table = pd.DataFrame(table, columns=['PostalCode', 'Borough', 'Neighbourhood'])
table.shape

(288, 3)

Remove null date

In [23]:
table = table[~table['PostalCode'].isnull()]
table.shape

(287, 3)

In [24]:
table.head(10)

   PostalCode           Borough     Neighbourhood
1         M1A      Not assigned      Not assigned
2         M2A      Not assigned      Not assigned
3         M3A        North York         Parkwoods
4         M4A        North York  Victoria Village
5         M5A  Downtown Toronto      Harbourfront
6         M6A        North York  Lawrence Heights
7         M6A        North York    Lawrence Manor
8         M7A      Queen's Park      Not assigned
9         M8A      Not assigned      Not assigned
10        M9A  Downtown Toronto      Queen's Park

Remove data in Borough column with value "Not Assigned"

In [25]:
table = table[table['Borough']!="Not assigned"]
table.shape

(210, 3)

Apply groupby functi√≥n and then aggregation in neighbourhood

In [26]:
table = table.groupby(['PostalCode','Borough']).agg(lambda x: ','.join(x))
table.reset_index(inplace=True)
table.head(10)

  PostalCode      Borough                                  Neighbourhood
0        M1B  Scarborough                                  Rouge,Malvern
1        M1C  Scarborough           Highland Creek,Rouge Hill,Port Union
2        M1E  Scarborough                Guildwood,Morningside,West Hill
3        M1G  Scarborough                                         Woburn
4        M1H  Scarborough                                      Cedarbrae
5        M1J  Scarborough                            Scarborough Village
6        M1K  Scarborough      East Birchmount Park,Ionview,Kennedy Park
7        M1L  Scarborough                  Clairlea,Golden Mile,Oakridge
8        M1M  Scarborough  Cliffcrest,Cliffside,Scarborough Village West
9        M1N  Scarborough                     Birch Cliff,Cliffside West

Check Neighbourhood with value same to: "Not Assigned"

In [27]:
table[table['Neighbourhood']=="Not assigned"]

   PostalCode       Borough Neighbourhood
85        M7A  Queen's Park  Not assigned

Get Position of row

In [28]:
ListIndexNeigh_NotAssigned = table[table['Neighbourhood']=="Not assigned"].index.values.tolist()
ListIndexNeigh_NotAssigned

[85]

In [29]:
for ind in ListIndexNeigh_NotAssigned:
    table.loc[ind]['Neighbourhood'] = table.loc[ind]['Borough']
    print("---")

---

In [30]:
table[table['Neighbourhood']=="Not assigned"]

Empty DataFrame
Columns: [PostalCode, Borough, Neighbourhood]
Index: []

In [31]:
table.head(10)

  PostalCode      Borough                                  Neighbourhood
0        M1B  Scarborough                                  Rouge,Malvern
1        M1C  Scarborough           Highland Creek,Rouge Hill,Port Union
2        M1E  Scarborough                Guildwood,Morningside,West Hill
3        M1G  Scarborough                                         Woburn
4        M1H  Scarborough                                      Cedarbrae
5        M1J  Scarborough                            Scarborough Village
6        M1K  Scarborough      East Birchmount Park,Ionview,Kennedy Park
7        M1L  Scarborough                  Clairlea,Golden Mile,Oakridge
8        M1M  Scarborough  Cliffcrest,Cliffside,Scarborough Village West
9        M1N  Scarborough                     Birch Cliff,Cliffside West

In [32]:
table.shape

(103, 3)